* {
    box-sizing: border-box;
    background-color: #225ca3;
  }
  
   html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  a {
    text-decoration: none;
   
    font-weight: bold;

  }
  
  
  button {


    color:lightgray;
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    border-radius: 5px;
  }
  

  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  

  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 5px solid black;
    display: flex;
    align-items: center;
    padding: 0 1%;
  }
  

  
  main {
    flex: 1;
    padding: 2% 4%;
  }

  

  
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  


  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 200px;
  }
  

  footer {

    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 25px;
  }